<% provide(:class_text, 'overtime') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= form_with(model: @attendance, url: update_approval_user_attendance_path, local: true, method: :patch) do |f| %>
          
          <table class="table table-bordered table-condensed table-hover" id="table-attendances">
             <tr>
               <td>月</td>
               <td>指示者確認㊞</td>
               <td>変更</td>
               <td>勤怠を確認する</td>
             </tr>
             <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
          </table>   
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>